.artist-container{
  width: 100vw;
  height: 100vh;
}

.next-img{
  position: absolute;
  left: 80px;
  bottom: 85px;
  width: 130px;
}

.name-img{
  position: absolute;
  right: 80px;
  bottom: 90px;
  height: 110px;
}