.player-container{
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.player{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
}

.back-btn{
  position: absolute;
  left: 80px;
  top: 85px;
  transform: rotate(180deg);
  width: 80px;
}

.name-img{
  position: absolute;
  right: 80px;
  bottom: 90px;
  height: 110px;
}